# Gateway
GATEWAY_PORT=3000

# Servicios
AUTH_SERVICE_PORT=3001
USERS_SERVICE_PORT=3002
PRODUCTS_SERVICE_PORT=3003
ORDERS_SERVICE_PORT=3004

# URLs para el gateway
AUTH_SERVICE_URL=http://localhost:3001
USERS_SERVICE_URL=http://localhost:3002
PRODUCTS_SERVICE_URL=http://localhost:3003
ORDERS_SERVICE_URL=http://localhost:3004

# JWT
JWT_SECRET=dematiq-secret-key
JWT_EXPIRES_IN=7d

# Supabase
SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# SMTP (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=TU_CORREO@gmail.com
SMTP_PASS=TU_CONTRASENA_APP
QUOTATION_EMAIL=correo_donde_recibir@ejemplo.com
